<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Estee demo</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
          rel="stylesheet">

    <!-- Custom CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-stylish-portfolio/5.0.7/css/stylish-portfolio.min.css"
          rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top">Estee demo</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#page-top">Get consumers</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#about">Get consumer by Id</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#createConsumer">Create Consumer</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header class="masthead d-flex">

    <div class="container text-center my-auto">
        <h2 class="mb-1">Estee demo</h2>

        <h3 class="mb-5">
            <em>Get authentication token</em>
        </h3>

        <section id="authenticate">
            <input type="button" class="btn btn-danger btn-xl js-scroll-trigger" value="Autenticate application"
                   onclick="authenticate()"/>
        </section>


        <h3 class="mb-5">
            <em>Get a list of consumers</em>
        </h3>
        <form method="post" action="/get-consumers">

            <select class="form-control form-control-xl" name="market">
                <option value="US">US</option>
                <option value="US">CA</option>
            </select>
            <br/>

            <input type="text" class="form-control form-control-xl" name="firstName" placeholder="First name"> <br/>
            <input type="text" class="form-control form-control-xl" name="lastName" placeholder="Last name"> <br/>
            <select class="form-control form-control-xl" name="brandString" th:placeholder="brand" required>
                <option value="MAC">MAC</option>
                <option value="EsteeLauder">ESTEELAUDER</option>
                <option value="BobbiBrown">BOBBIBROWN</option>
                <option value="LaMer">LAMER</option>
            </select><br/>
            <input type="email" class="form-control form-control-xl" name="email" placeholder="Email"> <br/>
            <input type="tel" class="form-control form-control-xl" name="phoneNumber" placeholder="Phone"> <br/>
            <input type="text" class="form-control form-control-xl" name="postalCode" placeholder="Postal code"> <br/>
            &nbsp;
            <input type="submit" class="btn btn-primary btn-xl js-scroll-trigger" value="Find Consumers"/>
        </form>
    </div>
    <div class="overlay"></div>
</header>


<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
        <div class="content-section-heading">
            <h2 class="mb-5" id="Consumer_List">Consumers list</h2>
        </div>

        <div class="row" th:if="${consumerList!=null && consumerList.size()!=0}">
            <th:block th:each="consumer : ${consumerList}">
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <h4>
                        <strong>Consumer Id</strong>
                    </h4>
                    <a class="btn btn-warning" th:text="${'search consumer with ID:' + consumer.getConsumerId()}"
                       th:alt="${consumer.getMarket()}" onclick="searchConsumer(this)"></a>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <h4>
                        <strong>ElcMasterId</strong>
                    </h4>
                    <p class="text-faded mb-0" th:text="${consumer.getElcMasterId()}"></p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <h4>
                        <strong>First name</strong>
                    </h4>
                    <p class="text-faded mb-0" th:text="${consumer.getFirstName()}"></p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                    <h4>
                        <strong>Middle name</strong>
                    </h4>
                    <p class="text-faded mb-0" th:text="${consumer.getMiddleName()}">
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4>
                        <strong>Last name</strong>
                    </h4>
                    <p class="text-faded mb-0" th:text="${consumer.getLastName()}"></p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4>
                        <strong>Gender</strong>
                    </h4>
                    <p class="text-faded mb-0" th:text="${consumer.getGender()}"></p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4>
                        <strong>Language</strong>
                    </h4>
                    <p class="text-faded mb-0" th:text="${consumer.getLanguage()}"></p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4>
                        <strong>Brand</strong>
                    </h4>
                    <p class="text-faded mb-0" th:text="${consumer.getBrand()}"></p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4>
                        <strong>Market</strong>
                    </h4>
                    <p class="text-faded mb-0" th:text="${consumer.getMarket()}"></p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4>
                        <strong>Phone number</strong>
                    </h4>
                    <th:block
                            th:if="${consumer != null  && consumer.getPhoneNumber() != null && !consumer.getPhoneNumber().isEmpty()}">
                        <p class="text-faded mb-0"
                           th:text="${consumer.getPhoneNumber().get(0).getPhoneNumber().toString()}"></p></th:block>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4>
                        <strong>Email</strong>
                    </h4>
                    <th:block
                            th:if="${consumer != null  && consumer.getEmail() != null && !consumer.getEmail().isEmpty()}">
                        <p class="text-faded mb-0"
                           th:text="${consumer.getEmail().get(0).getEmailAddress().toString()}"></p></th:block>
                </div>
                <th:block
                        th:if="${consumer != null  && consumer.getAddress() != null && !consumer.getAddress().isEmpty()}">
                    <div class="col-lg-3 col-md-6">
                        <h4>
                            <strong>Address</strong>
                        </h4>

                        <p class="text-faded mb-0" th:text="${consumer.getAddress().get(0).getCountry()}"></p>
                        <p class="text-faded mb-0" th:text="${consumer.getAddress().get(0).getCity()}"></p>
                        <p class="text-faded mb-0" th:text="${consumer.getAddress().get(0).getLine()}"></p>
                    </div>
                </th:block>
                <div class="container">
                    <ul class="list-inline mb-5">
                        <li class="list-inline-item">
                            <i class="far fa-user"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-male"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-walking"></i>
                        </li>
                    </ul>

                </div>
            </th:block>
        </div>
    </div>
</section>

<!-- Get Consumer -->
<section class="content-section bg-light" id="about">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>Get consumer by market and Id</h2>
                <p class="lead mb-5">

                <form method="post" action="/get-consumer" id="get_consumer_form">

                    <select class="form-control form-control-xl" name="market" id="get_consumer_by_id_market">
                        <option value="US">US</option>
                        <option value="US">CA</option>
                    </select>
                    <br/>

                    <input type="text" class="form-control form-control-xl" name="consumerId" id="consumerId"
                           placeholder="Consumer id"
                           required> <br/>&nbsp;
                    <input type="submit" class="btn btn-primary btn-xl js-scroll-trigger" id="submit_get_consumer_by_id"
                           value="Find Consumer"/>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
        <div class="content-section-heading">
            <h2 class="mb-5" id="single_Consumer_details">Consumer details</h2>
        </div>

        <div class="row" th:if="${consumer!=null}">

            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <h4>
                    <strong>elcMasterId</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getElcMasterId()}"></p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <h4>
                    <strong>First Name</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getFirstName()}"></p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <h4>
                    <strong>middleName</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getMiddleName()}">
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>
                    <strong>lastName</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getLastName()}"></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>
                    <strong>birthday</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getBirthday().toString()}"></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>
                    <strong>Gender</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getGender()}"></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>
                    <strong>Language</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getLanguage()}"></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>
                    <strong>Brand</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getBrand()}"></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>
                    <strong>Market</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getMarket()}"></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>
                    <strong>Phone number</strong>
                </h4>
                <th:block
                        th:if="${consumer != null  && consumer.getPhoneNumber() != null && !consumer.getPhoneNumber().isEmpty()}">
                    <p class="text-faded mb-0"
                       th:text="${consumer.getPhoneNumber().get(0).getPhoneNumber().toString()}"></p>
                </th:block>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>
                    <strong>Email</strong>
                </h4>
                <th:block th:if="${consumer != null  && consumer.getEmail() != null && !consumer.getEmail().isEmpty()}">
                    <p class="text-faded mb-0" th:text="${consumer.getEmail().get(0).getEmailAddress().toString()}"></p>
                </th:block>
            </div>
            <th:block th:if="${consumer != null  && consumer.getAddress() != null && !consumer.getAddress().isEmpty()}">
                <div class="col-lg-3 col-md-6">
                    <h4>
                        <strong>Address</strong>
                    </h4>
                    <p class="text-faded mb-0" th:text="${consumer.getAddress().get(0).getCountry()}"></p>
                    <p class="text-faded mb-0" th:text="${consumer.getAddress().get(0).getCity()}"></p>
                    <p class="text-faded mb-0" th:text="${consumer.getAddress().get(0).getLine()}"></p>
                </div>
            </th:block>
            <a class="btn btn-warning btn-xl js-scroll-trigger" href="#updateConsumer" > Edit consumer</a>
        </div>
    </div>
</section>

<!-- Create Consumer -->
<section class="callout">
    <div class="container text-center" id="createConsumer">
        <h2 class="mx-auto mb-5">Create consumer</h2>

        <form method="post" action="/create-consumer">

            <select class="form-control form-control-xl" name="market">
                <option value="US">US</option>
            </select>
            <br/>

            <select class="form-control form-control-xl" name="brand" required>
                <option value="MAC">MAC</option>
                <option value="ESTEELAUDER">ESTEELAUDER</option>
                <option value="BOBBIBROWN">BOBBIBROWN</option>
                <option value="LAMER">LAMER</option>
            </select>
            <br/>

            <select class="form-control form-control-xl" name="gender">
                <option value="FEMALE">FEMALE</option>
                <option value="MALE">MALE</option>
                <option value="NONBINARY">NONBINARY</option>
                <option value="UNKNOWN">UNKNOWN</option>
            </select>
            <br/>

            <select class="form-control form-control-xl" name="language">
                <option value="UNKNOWN">UNKNOWN</option>
                <option value="ENGLISH">ENGLISH</option>
                <option value="FRENCH">FRENCH</option>
                <option value="SPANISH">SPANISH</option>
            </select>
            <br/>
            <label>Birth day</label>
            <input required type="number" name="birthday.year" placeholder="YYYY" class="form-control form-control-m">
            <input required type="number" name="birthday.month" placeholder="MM" class="form-control form-control-m">
            <input required type="number" name="birthday.day" placeholder="DD" class="form-control form-control-m"><br/>

            <input required type="text" name="firstName" placeholder="First Name"
                   class="form-control form-control-xl"><br/>

            <input required type="text" name="middleName" placeholder="Middle name"
                   class="form-control form-control-xl"><br/>

            <input required type="text" name="lastName" placeholder="Last name"
                   class="form-control form-control-xl"><br/>

            <input required type="number" name="consumerHomeStore" placeholder="Consumer Home Store"
                   class="form-control form-control-xl"><br/>

            <input required type="text" name="market" placeholder="Market" class="form-control form-control-xl"><br/>

            <input required type="text" name="lastUpdateTimestamp" placeholder="lastUpdateTimestamp"
                   class="form-control form-control-xl"><br/>

            <input required type="text" name="lastPurchaseTimestamp" placeholder="lastPurchaseTimestamp"
                   class="form-control form-control-xl"><br/>

            &nbsp;
            <input type="submit" class="btn btn-primary btn-xl js-scroll-trigger" value="Create consumer"/>
        </form>
    </div>
</section>
<section class="content-section bg-primary text-white text-center" id="createdConsumer">
    <div class="container">
        <div class="content-section-heading">
            <h2 class="mb-5" id="created_single_Consumer_details">Created consumer details</h2>
        </div>

        <div class="row" th:if="${consumer!=null}">

            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <h4>
                    <strong>ElcMasterId</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getElcMasterId()}"></p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <h4>
                    <strong>First Name</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getFirstName()}"></p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <h4>
                    <strong>Middle name</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getMiddleName()}">
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>
                    <strong>Last name</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getLastName()}"></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>
                    <strong>Birthday</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getBirthday().toString()}"></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>
                    <strong>Gender</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getGender()}"></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>
                    <strong>Language</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getLanguage()}"></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>
                    <strong>Brand</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getBrand()}"></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>
                    <strong>Market</strong>
                </h4>
                <p class="text-faded mb-0" th:text="${consumer.getMarket()}"></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>
                    <strong>Phone number</strong>
                </h4>
                <th:block
                        th:if="${consumer != null  && consumer.getPhoneNumber() != null && !consumer.getPhoneNumber().isEmpty()}">
                    <p class="text-faded mb-0"
                       th:text="${consumer.getPhoneNumber().get(0).getPhoneNumber().toString()}"></p></th:block>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>
                    <strong>Email</strong>
                </h4>
                <th:block
                        th:if="${consumer != null  && consumer.getEmail() != null && !consumer.getEmail().isEmpty()}">
                    <p class="text-faded mb-0"
                       th:text="${consumer.getEmail().get(0).getEmailAddress().toString()}"></p></th:block>
            </div>
            <th:block
                    th:if="${consumer != null  && consumer.getAddress() != null && !consumer.getAddress().isEmpty()}">
                <div class="col-lg-3 col-md-6">
                    <h4>
                        <strong>Address</strong>
                    </h4>
                    <p class="text-faded mb-0" th:text="${consumer.getAddress().get(0).getCountry()}"></p>
                    <p class="text-faded mb-0" th:text="${consumer.getAddress().get(0).getCity()}"></p>
                    <p class="text-faded mb-0" th:text="${consumer.getAddress().get(0).getLine()}"></p>
                </div>
            </th:block>
        </div>
    </div>
</section>


<!-- Update Consumer -->
<footer class="footer text-center">
    <th:block th:if="${consumer!=null}">
        <section class="callout">
            <div class="container text-center" id="updateConsumer">
                <h2 class="mx-auto mb-5">Update consumer by ID consumer</h2>

                <form method="post" id="edit-consumer">

                    <input type="text" name="consumer_id" class="form-control form-control-m disabled" th:value="${consumer.consumerId}" disabled>
                    <br/>
                    <select class="form-control form-control-xl" name="market">
                        <option value="US">US</option>
                        <option value="US">CA</option>
                    </select>
                    <br/>

                    <select class="form-control form-control-xl" name="brand" required>
                        <option value="MAC">MAC</option>
                        <option value="ESTEELAUDER">ESTEELAUDER</option>
                        <option value="BOBBIBROWN">BOBBIBROWN</option>
                        <option value="LAMER">LAMER</option>
                    </select>
                    <br/>

                    <select class="form-control form-control-xl" name="gender" th:value="${consumer.getGender().toString().toUpperCase()}">
                        <option value="FEMALE">FEMALE</option>
                        <option value="MALE">MALE</option>
                        <option value="NONBINARY">NONBINARY</option>
                        <option value="UNKNOWN">UNKNOWN</option>
                    </select>
                    <br/>

                    <select class="form-control form-control-xl" name="language" th:selected="${consumer.getLanguage().toString().toUpperCase()}">
                        <option value="UNKNOWN">UNKNOWN</option>
                        <option value="ENGLISH">ENGLISH</option>
                        <option value="FRENCH">FRENCH</option>
                        <option value="SPANISH">SPANISH</option>
                    </select>
                    <br/>
                    <label>Birth day</label>
                    <input required type="number" name="birthday.year" placeholder="YYYY" class="form-control form-control-m" th:value="${consumer.getBirthday().getYear()}">
                    <input required type="number" name="birthday.month" placeholder="MM" class="form-control form-control-m" th:value="${consumer.getBirthday().getMonth()}">
                    <input required type="number" name="birthday.day" placeholder="DD" class="form-control form-control-m" th:value="${consumer.getBirthday().getDay()}">
                    <br/>

                    <input required type="text" name="firstName" placeholder="First Name"
                           class="form-control form-control-xl" th:value="${consumer.getFirstName()}"><br/>

                    <input required type="text" name="middleName" placeholder="Middle name"
                           class="form-control form-control-xl" th:value="${consumer.getMiddleName()}"><br/>

                    <input required type="text" name="lastName" placeholder="Last name"
                           class="form-control form-control-xl" th:value="${consumer.getLastName()}"><br/>

                    <input required type="number" name="consumerHomeStore" placeholder="Consumer Home Store"
                           class="form-control form-control-xl" th:value="${consumer.getConsumerHomeStore()}"><br/>

                    <input required type="text" name="market" th:value="${consumer.getMarket().toString()}" placeholder="Market" class="form-control form-control-xl" disabled><br/>

                    <input required type="text" name="lastUpdateTimestamp" placeholder="lastUpdateTimestamp"
                           class="form-control form-control-xl" ><br/>

                    <input required type="text" name="lastPurchaseTimestamp" placeholder="lastPurchaseTimestamp"
                           class="form-control form-control-xl"><br/>

                    &nbsp;
                    <input type="submit" class="btn btn-primary btn-xl js-scroll-trigger" value="Update consumer"/>
                </form>
            </div>
        </section>
    </th:block>
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script>
    function authenticate() {
        $.get("/auth", function (data) {
            $(".result").html(data);
            alert(
                JSON.stringify(data));
        });
    }

    function searchConsumer(elm) {
        var market = $(elm).attr("alt");
        var id = $(elm).text().replace("search consumer with ID:", "");

        console.log(market);
        console.log(id);

        elmnt = document.getElementById("get_consumer_by_id_market");
        document.getElementById("consumerId").value = id;

        for (var i = 0; i < elmnt.options.length; i++) {
            if (elmnt.options[i].value === market) {
                elmnt.selectedIndex = i;
                break;
            }
        }

        $("#get_consumer_form").submit();

    }
</script>
<!-- Bootstrap core JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="https://cdn.jsdelivr.net/npm/startbootstrap-stylish-portfolio@5.0.8/js/stylish-portfolio.min.js"></script>

</body>

<script>

    $(document).ready(function () {
        if ($(location).attr('href') === "http://localhost:8082/get-consumer") {
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#single_Consumer_details").offset().top
            }, 2000);
        }
        if ($(location).attr('href') === "http://localhost:8082/create-consumer") {
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#created_single_Consumer_details").offset().top
            }, 2000);
        }
        if ($(location).attr('href') === "http://localhost:8082/get-consumers") {
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#Consumer_List").offset().top
            }, 2000);
        }
    });

</script>
</html>
